#about {
  /* About me */
  position: absolute;
  width: 50%;
  height: 85%;
  left: 5%;
  top: 6%;

  background: #94b49f;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

#my-pic {
  position: absolute;
  width: 38%;
  height: 40%;
  left: 7%;
  top: 5%;

  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

#first-name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #303D38;

  position: absolute;
  width: 33%;
  height: 10%;
  left: 50%;
  top: 16%;
}

#last-name {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #303D38;

  position: absolute;
  width: 20%;
  height: 10%;
  left: 51%;
  top: 24%;
}

#title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 58px;
    color: #303D38;
  
    position: absolute;
    width: 40%;
    height: 10%;
    left: 51%;
    top: 32%;
}

#info {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #303D38;
  
    position: absolute;
    width: 84%;
    height: 10%;
    left: 8%;
    top: 50%;
}
